absl-py==0.9.0
appdirs==1.4.4
asgiref==3.2.10
astor==0.8.1
astroid==2.4.2
backcall==0.2.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.1
Django==3.0.8
filelock==3.0.12
gast==0.2.2
google-pasta==0.1.8
graphviz==0.8.4
grpcio==1.26.0
h5py==2.10.0
idna==2.6
image==1.5.32
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipdb==0.13.3
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
mccabe==0.6.1
MouseInfo==0.1.3
mxnet==1.3.1
networkx==2.3
numpy==1.18.1
oauthlib==3.1.0
onnx==1.6.0
opt-einsum==3.1.0
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
protobuf==3.6.1
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
Pygments==2.6.1
pylint==2.5.3
PyMsgBox==1.0.8
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PySocks==1.7.1
PyTweening==1.0.3
pytz==2020.1
PyYAML==5.3.1
requests==2.18.4
requests-oauthlib==1.3.0
six==1.13.0
sqlparse==0.3.1
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
test-generator==0.1.1
toml==0.10.1
traitlets==4.3.3
tweepy==3.9.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.22
virtualenv==20.0.28
wcwidth==0.2.5
Werkzeug==0.16.0
wrapt==1.11.2
zipp==3.1.0
